<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Input Route</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <!--- CSS STYLING --->
    <style>
        body {
            background-color: white;
            background-image: url('/static/UClogo.png');
            background-repeat: no-repeat;
            background-position: 2000px 10px;
            background-size: 500px;
            font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
        }
    </style>
</head>
<body>

<p>Chris is slowly getting HTML</p>

<button style="background-color: red;">
    <a href="{% url 'home' %}">Main Page</a>
</button>

<button style="background-color: green;">
    <a href="{% url 'result' %}">Get Result</a>
</button>

<p>DROPDOWN OF ALL BUILDINGS</p>
<label for="build">Choose a building:</label>

<select id="build">
    {% for build in buildings %}
        <option>{{ build.name }}</option>
    {% endfor %}
</select>

</body>
</html>