<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Report Obstruction</title>
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    <!--- CSS STYLING --->
    <style>
        body {
            background-color: white;
            background-image: url('{% static "UClogo.png" %}');
            background-repeat: no-repeat;
            background-position: 1250px 10px;
            background-size: 500px;
            font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', sans-serif;
        }
    </style>
</head>
<body>

<button style="background-color: red;">
    <a href="{% url 'home' %}">Main Page</a>
</button>

<button style="background-color: green;">
    <a href="{% url 'routefinder' %}">Find Route</a>
</button>
</body>
</html>